
@font-face{
	font-family:"HelveticaNeue-Bold";
	font-style:normal;
	font-weight:normal;
	src: url("fonts/HelveticaNeue-Bold.otf");
}
@font-face{
	font-family:"HelveticaNeue-Medium";
	font-style:normal;
	font-weight:normal;
	src: url("fonts/HelveticaNeue-Medium.otf");
}
@font-face{
	font-family:"HelveticaNeue-Regular";
	font-style:normal;
	font-weight:normal;
	src: url("fonts/HelveticaNeue-Regular_22623.ttf");
}








